body{
  font-family: 'Raleway', sans-serif;
}

p{
  font-size: 0.9rem;
}

input.form-control, select.form-select{
  border-radius: 6rem;
  font-size: 0.9rem;
}

input.form-control:focus, select.form-select:focus {
  border-color: rgba(25, 135, 84, 0.5);
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.2);
}

.btn{
  padding: 1rem 0.75rem;
  border-radius: 6rem;
}


section#intro{
  color: rgb(255, 255, 255);
}

section#intro h1.title{
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

section#intro p.para{
  line-height: 1.5rem;
  text-align: center;
  font-weight: 400;
}

section#intro img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section#main{
  padding: 6rem 0;
}

section#main p{
  font-size: 1rem;
  font-weight: 600;
}

section#main div.card{
  width: 75%;
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  z-index: 2;
}


@media screen and (max-width: 578px) {
  section#main {
    padding: 4rem 0;
  }

  section#main div.card {
    width: 100%;
  }
}