body{
  font-family: 'Raleway', sans-serif;
  padding: 0;
}

p{
  font-size: 0.9rem;
}

div.intro{
  background-color: rgb(76, 134, 0);
}

section#intro{
  color: rgb(255, 255, 255);
}

section#intro h1.title{
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

section#intro p.para{
  line-height: 1.5rem;
  text-align: center;
  font-weight: 400;
}

section#intro img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}